<div class="container">
  <div class="col-sm-12 latest-events">
    <h1>Latest events</h1>
    <p class="latest-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam lacinia, diam et pharetra congue, est felis bibendum nibh, ac placerat tellus odio eu nunc.
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="/images/yoga.jpg" />
      <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
        pain..."</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/images/books.jpg" />
      <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
        pain..."</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/images/karate.jpg" />
      <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
        pain..."</p>
      </div>
    </div>
  </div>
</div>

<div class="full-width-container">
  <div class="container">
    <h2>Find an event</h2>
    <input type="text" name="search"/>
    <input type="submit" class="btn btn-default" value="Find"/>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 Categories">
      <h1>Explore</h1>
      <p class="latest-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam lacinia, diam et pharetra congue, est felis bibendum nibh, ac placerat tellus odio eu nunc.
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <img src="/images/sportsandfitness.jpg" />
    <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
      pain..."</p>
      <h1>Sports and Fitness</h1>
    </div>
  </div>
  <div class="col-md-4 ">
    <img src="/images/outdoorsandadventures.jpg" />
    <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
      pain..."</p>
      <h1>Outdoors and Adventures</h1>
    </div>
  </div>
  <div class="col-md-4 ">
    <img src="/images/tech.jpg" />
    <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
      pain..."</p>
      <h1>Tech</h1>
    </div>
  </div>
  <div class="col-md-4 ">
    <img src="/images/writing.jpg" />
    <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
      pain..."</p>
      <h1>Writing</h1>
    </div>
  </div>
  <div class="col-md-4">
    <img src="/images/music.jpg"/>
    <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
      pain..."</p>
      <h1>Music</h1>
    </div>
  </div>
  <div class="col-md-4 ">
    <img src="/images/film.png" />
    <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
      pain..."</p>
      <h1>Film</h1>
    </div>
  </div>
  <div class="col-md-4 ">
    <img src="/images/family.jpg" />
    <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
      pain..."</p>
      <h1>Family</h1>
    </div>
  </div>
  <div class="col-md-4 ">
    <img src="/images/foodanddrinks.jpg" />
    <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
      pain..."</p>
      <h1>Food and Drinks</h1>
    </div>
  </div>
  <div class="container all-events">
    <h3>Thousand of events happening at any time</h3>
  </div>
</div>
</div>
